header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

header button {
    padding: .25rem;
}