header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100vw;
}

.logo {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.favoritos {
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: .25rem .8rem;
}